.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
}
.playground{
    display: flex;

}
.playbox{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}