section{
    text-align: center;
}

.game--container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 600px;
    margin: 50px auto;

}
.cell{
    width: 200px;
    height: 200px;
    border: 1px solid #011101;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}